:root {
  --background-color: #222;
  --text-color: #eee;
  --primary-color: #0056b3;
  --secondary-color: #5a6268;
  --accent-color: #218838;
  --border-color: #495057;
  --error-color: #c82333;
  --warning-color: #e0a800;
  --success-color: #218838;
}